.container {
    max-width: 600px;
    min-height: 50vh;
    margin: auto;
    display: flex;
}

.main {
    width: 100%;
    margin: auto;
    padding: 2rem;
}
.main input {
    display: block;
    border: none;
    outline: none;
}

.title {
    padding-bottom: 2rem;
}
.title div {
    display: flex;
    justify-content: space-between;
}
.title div p {
    cursor: pointer;
}
.title input {
    font-size: 2.5rem;
    font-weight: 900;
}
.title span {
    color: rgb(80, 80, 80);
}

.status p {
    display: inline;
    padding: 2px 6px;
    border-radius: 4px;
    color: black;
    background-color: #fbccd1;
}

.divider {
    margin: 2rem 0;
    border: 1px solid rgb(230, 230, 230);
}

.description {
    display: flex;
}
.description .textarea {
    min-height: 40vh;
    font-family: inherit;
    font-size: 1.2rem;
    width: 100%;
    float: left;
    border: none;
    outline: none;
}
