.container {
    margin: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header p {
    font-style: italic;
    cursor: pointer;
    color: gray;
    text-decoration: underline;
}
.header p:hover {
    color: black;
}

.divider {
    margin: 2rem 0;
    border: 1px solid rgb(230, 230, 230);
}

.kanban {
    display: flex;
    overflow-x: scroll;
    min-height: 200px;
}